<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="navbar-brand" href="#">
                <img src="../../../../assets/images/A-64.png" width="30" height="30" alt="" loading="lazy">        
            </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['home']">Inicio</a>
        </li>
        
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['about']">Acerca</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['heroes']">Héroes</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['pipes']">Pipes</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input type="text" class="form-control mr-sm-2" placeholder="Buscar héroe" #heroe>
        <button type="button" class="btn btn-outline-success my-2 my-sm-0" (click)="searchHeroe(heroe.value)">Buscar</button>
      </form>
    </div>
</nav>